/**
 * Created by esattahaibis on 2016-02-04.
 * File name app.css
 * Desc contains custom Stylesheet code for Esat's Bio
 */

body {
	padding-bottom: 70px;
}

header {
	margin-top: 15px;
}
address {
	margin: 0;
}